<ul class="nav justify-content-center bg-primary navbar-color">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/input-visitor-details">Input Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/visitor-list">Visitor List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/request-queue-number">Print Queue</a>
  </li>
</ul>
<div class="center mt-4">
  <div class="container shadow py-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of list_data;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{ data.username }} </td>
          <td>{{ data.email }} </td>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="show(content,i)">Print</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nomer Antrian</h4>
    <span (click)="modal.dismiss('Cross click')">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </span>
  </div>
    <div class="modal-body">
     <p class="text-center mb-0">{{list_barcode.username}}</p>
      <div class="center-barcode">  
        <ejs-barcodegenerator style="display: block;" #barcode id="barcode" width="200px"  height="150px" [displayText] = 'displayText' mode="SVG" type="Code128" value="0">
        </ejs-barcodegenerator>
      </div>
      <p class="text-center mb-0" >Budayakan antri demi kenyamanan bersama!</p>
      <p class="text-center" >Tetap jaga protocol kesehatan</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('close click')">close</button>
    </div>
</ng-template> 